script(src='/bower_components/angular/angular.js')
script(src='/bower_components/angular-route/angular-route.js')
script(src='/bower_components/angular-route-styles/route-styles.js')
script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/highcharts/highstock5.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(src='/javascripts/ngapp.js')
script(src='/javascripts/factories/dbHandler.factory.js')
script(src='/javascripts/factories/fileHandler.factory.js')
script(src='/javascripts/factories/httpInterceptor.factory.js')
script(src='/javascripts/factories/page.factory.js')
script(src='/javascripts/factories/pair.factory.js')
script(src='/javascripts/factories/splitMongoDate.factory.js')
script(src='/javascripts/controllers/head.controller.js')
script(src='/javascripts/controllers/index.controller.js')
script(src='/javascripts/controllers/readAndStore.controller.js')
script(src='/javascripts/components/feed.component.js')
script(src='/javascripts/components/loading.component.js')
script(src='/javascripts/components/quoteBox.component.js')
script(src='/javascripts/directives/highchart.directive.js')
script(src='/javascripts/directives/currencyTable.directive.js')