<div ng-controller="GraphController as GraphCtrl">
	<span class='inline'>
		<div>Currency Pair:</div>
		<pair-select pair="GraphCtrl.pair"></pair-select>
	</span>
	
  <chart value="GraphCtrl.chartData" 
		 type="candlestick" chart-obj="GraphCtrl.chartObj" control="GraphCtrl"></chart>
</div>
