<div>
	<span class='inline'>
		<div>Currency Pair:</div>
		<pair-select pair="pair"></pair-select>
	</span>
	
  <chart value="chartData" type="candlestick" chart-obj="chartObj" control="graphControl"></chart>
</div>
