<div>
	<span class='inline'>
		<div>Currency Pair:</div>
		<pair-select 	pair="pair" 
						db-start-date-obj="dbStartDateObj"
						db-end-date-obj="dbEndDateObj"></pair-select>
	</span>
	<span class='inline'>
		<div>Start Date: <span class='small'>(MM-DD-YYYY)</span></div>
		<date-select month="smonth" day="sday" year="syear"></date-select>
	</span>
	<span class='inline'>
		<div>End Date: <span class='small'>(MM-DD-YYYY)</span></div>
		<date-select month="emonth" day="eday" year="eyear"></date-select>
	</span>
	<span class='inline'>
		<button ng-click="updateGraph()">Update</button>
	</span>
	
  <angular-chart options="options" instance="instance"></angular-chart>
</div>
