<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title ng-bind="HeadCtrl.page.title()">Forex App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>