<nav class="navbar navbar-inverse clear-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<div ng-bind="HeadCtrl.page.title()"></div>
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="http://github.com/umairda/forex">Source</a>
			</li>
		</ul>
	</div>
</nav>