<div class="main_content">
	<div ng-controller="readAndStoreController as rasCtrl">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th></th>
					<th class="text-center" ng-repeat="c1 in rasCtrl.currencies">{{c1}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c1 in rasCtrl.currencies" ng-class-odd="'odd'" ng-class-even="'even'">
					<td class="text-center">{{c1}}</td>
					<td class="text-center" title={{c1}}{{c2}}
						ng-repeat="c2 in rasCtrl.currencies" 
						ng-click="rasCtrl.readAndStore(c1,c2)" 
						ng-init="rasCtrl.pairs[c1][c2].setDates()">
						<span>
							<div class='green'>{{rasCtrl.pairs[c1][c2].dbStartDate}}</div>
							<div class='red'>{{rasCtrl.pairs[c1][c2].dbEndDate}}</div>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class='update' ng-bind-html="rasCtrl.update"></div>
	</div>
</div>