<span class="fw"></span>
<span class="center fw" ng-repeat="c1 in currencies">{{c1}}</span>
<div class="div_c1" ng-repeat="c1 in currencies">
	<span>{{c1}}</span>
	<span ng-repeat="c2 in currencies" ng-click="readandstore(c1,c2)" ng-init="getLast(c1,c2)">
		<span class='center lastDate'>{{lastDate[c1+c2]}}</span>
	</span>
</div>
<div class='center update'>{{update}}</div>