<div ng-controller="TableController as TableCtrl">
	<div>
		Period:<input class="center" ng-model="TableCtrl.period">days
		<button ng-click="TableCtrl.update()">Update</button>
	</div>
	<span class="fw60 fh18 floatLeft white_border"></span>
	<span class="center fw60 floatLeft white_border" ng-repeat="c1 in TableCtrl.currencies">{{c1}}</span>
	<div class="clearBoth floatLeft fw60 width100pct" ng-repeat="c1 in TableCtrl.currencies">
		<span class='center floatLeft fw60 white_border'>{{c1}}</span>
		<span 	title="{{c1}}{{c2}}"
			ng-repeat="c2 in TableCtrl.currencies" class='center fw60 floatLeft inline'
			ng-init="TableCtrl.getDifference(c1,c2)"
			ng-class="{	red:TableCtrl.pairs[c1][c2].difference<0,
						green:TableCtrl.pairs[c1][c2].difference>0,
						gray:TableCtrl.pairs[c1][c2].difference=='-',
						green_border:TableCtrl.pairs[c1][c2].greatestVsC1,
						red_border:TableCtrl.pairs[c1][c2].leastVsC1,
						white_border:(!TableCtrl.pairs[c1][c2].greatestVsC1 && !TableCtrl.pairs[c1][c2].leastVsC1),
						dark_red:TableCtrl.pairs[c1][c2].least,
						dark_green:TableCtrl.pairs[c1][c2].greatest}">
				{{TableCtrl.pairs[c1][c2].difference}}
		</span>
	</div>
</div>
