<% include partials/htmlOpenTag %>
	<% include partials/head %>
	<body>
		<div class="footer_position">
			<% include partials/navbar %>
			<% include partials/IE7warning %>
			<loading></loading>
			<div ng-controller="IndexController as IndexCtrl" class="container-fluid main_content">
				<div class="row">
					<currency-table currencies="IndexCtrl.currencies" 
									period="IndexCtrl.period"
									selected="IndexCtrl.pair"></currency-table>
					<highchart pair="IndexCtrl.pair"></highchart>
				</div>
				<div class="row match-my-cols">
					<div class="quote_box_wrapper"> 
						<div class="row">
							<div class="col-xs-4" ng-repeat="pair in ['audusd','eurusd','gbpusd','nzdusd','usdcad','usdjpy']">
								<quote-box instrument={{pair}}></quote-box>
							</div>
						</div>
					</div>
					<feed rssfeed="IndexCtrl.rssfeed"></feed>
				</div>
			</div>
		</div>
		<% include partials/footer %>
		<% include partials/bodyScripts %>
	</body>
</html>
