<% include partials/htmlOpenTag %>
	<% include partials/head %>
	<body>
		<% include partials/IE7warning %>
		<div class="footer_position">
			<% include partials/navbar %>
			<loading></loading>
			<% include partials/readAndStore %>
		</div>
		<% include partials/footer %>
		<% include partials/bodyScripts %>
	</body>
</html>
