$primary_color:#154265;
$secondary_color:#7392c2;
$primary_panel_bg_color:rgba(51,51,51,0.4);
$secondary_panel_bg_color:rgba(51,51,51,0.3);

	$_blue:			rgba(51,51,51,0.4);
	$_gray:			rgba(200,200,200,1);
	$_green:		rgba(0,255,0,0.2);
	$_red:			rgba(255,0,0,0.2);
	$_dark_green:	rgba(0,255,0,0.5);
	$_dark_red:		rgba(255,0,0,0.5);
	$_white:		rgba(255,255,255,1);
	
	
$_alt_green:		rgba(32,179,73,0.8);
$_alt_red:			rgba(154,47,67,0.8);